*{
	font-family: 'Quicksand', sans-serif;
}
/*****************/
/*General styling*/
/*****************/
.go-top {
  border: 1px solid #ff5252;
  border-radius: 5px;
  position: fixed;
  bottom: 0.75em;
  right: 0.5em;
  text-decoration: none;
  color: #ff5252;
  background-color: white;
  font-size: 20px;
  padding: 10px;
  display: none;
  margin: 0;
  padding: 4px 10px 4px 10px;
  z-index: 10; 
}
.go-top:hover {
	border-color: white;
  background-color: #ff5252;
  color: white;
  text-decoration: none; 
}
li{
	list-style: none;
}
.left{
	float: left;
}
.right{
	float: right;
}
.cent{
	text-align: center;
}
.zero{
	opacity: 0;
}
.back-rd{
	background-color: 1px solid #ff5252;
	background-color: #ff5252;
}
.back-rd:hover{
	color: #ff5252;
	background-color: white;
	border:1px solid;
}
.rd{
	color: #ff5252;
}
.bg{
	font-size: 25px;
}
.bg-red{
	font-size: 22px;
	color: #ff5252;
}
.mdim{
	font-size: 18px;
}
.video{
	width:500px;
	height: 294px;
}
/***************/
/*Navigation styling*/
/***************/
.log{
	padding-left: 12px;
	height: 10%;
	width: 10%;
}
.play{
	padding-right: 12px;
	margin-top: -3.0%;
	height: 10%;
	width: 10%;
}
.nav{
	border-bottom: 2px solid rgba(0,0,0,0.1);
	position: fixed;
	width: 100%;
	background-color: white !important;
	padding-top: 12px;
	padding-bottom: 12px;
}
.anchors{
	border-radius: 5px;
	color: #ff5252;
	font-weight: 600;
	padding-top: 12px;
	padding-bottom: 12px;
	padding-left: 8px;
	padding-right: 8px;
}
.anchors:hover{
	color: #a33eff;
	border-bottom: 2px solid;
}
.li{
	margin-left: -5px;
	margin-right: -5px;
	display: inline;
	padding: 10px;
	text-transform: uppercase;
}
/*Clear navigation*/
.nav-home{
	position: fixed;
	width: 100%;
	background-color: none !important;
	padding-top: 12px;
	padding-bottom: 12px;
}
.play-home{
	padding-right: 12px;
	margin-top: -3.0%;
	height: 10%;
	width: 10%;
}
.anchors-home{
	border-radius: 5px;
	color: white;
	font-weight: 600;
	padding-top: 12px;
	padding-bottom: 12px;
	padding-left: 8px;
	padding-right: 8px;
}
.anchors-home:hover{
	color: white;
	border-bottom: 2px solid;
}
/*end of clear navigation*/
.links{
	float: right;
	padding-right: 12%;
	margin-top: -2.5%;
}
.links li{
	display: inline;
}
.br, .r{
	display: none;
}
@media screen and (max-width: 1000px){
	.reduce{
		height: 80%;
		width: 80%;
	}
	.video{
		width: 100%;
	}
	.Map{
		display: none;
	}
	.hide-nav{
		height: 0;
		opacity: 0;
		overflow: hidden;
	}
	.show-nav{
		height: 100%;
		opacity: 1;
		display: block;
	}
	.r{
		display: block;
		margin-bottom: -1.5%;
		width: 100%;
	}
	.log{
		height: 18%;
		width: 18%;
	}
	.play, .play-home{
		padding-right: 58px;
		margin-top: -40px;
		height: 22% !important;
		width: 22% !important;
	}
	.li{
		width: 100% !important;
		border-bottom: 1px solid #ff5252;
		margin-left: 0px;
		display: block;
		padding: 5px;
		padding-right: 1000px;
		text-transform: uppercase;
	}
  .br {
  	padding-right: 20px;
    display: block !important;
    margin-top: 7px; 
  }
  .icn-home, .icn-home:hover{
		color: #fff;
		border-radius: 4px;
    border: 1px solid;
    cursor: pointer !important;
    display: inline-block !important;
    font-size: 16px;
    padding: 5px;
	}  
  .icn, .icn-home:hover {
  	background-color: white;
  	color: #ff5252;
    border-radius: 4px;
    border: 1px solid;
    cursor: pointer !important;
    display: inline-block !important;
    font-size: 16px;
    padding: 5px;}
  .icn:hover{
    color: #a33eff;
  }
  .anchors, .anchors-home{
		border:none !important;
		color: #ff5252;
		font-size: 12px;
		padding-top: 0px;
		padding-bottom: 0px;
		padding-left: 0px;
		padding-right: 1000px;
  }
  .li:hover{
   	background-color: #ff5252;
  }
  .li:hover .anchors, .li:hover .anchors-home{
   	color: white;
  }
  .links{
	  background-color: white;
		float: none;
		padding-right: 200px;
		margin-top: -7px;
	}
}
@media screen and (max-width: 600px){
	.log{
		height: 20%;
		width: 20%;
	}
	.play, .play-home{
		padding-right: 58px;
		margin-top: -40px;
		height: 30% !important;
		width: 30% !important;
	}
  .br {
  	padding-right: 20px;
    display: block !important;
    margin-top: -1px; }
}
@media screen and (max-width: 500px){
	.log{
		height: 25%;
		width: 25%;
	}
	.play, .play-home{
		padding-right: 58px;
		margin-top: -40px;
		height: 25% !important;
		width: 25% !important;
	}
}
@media screen and (max-width: 400px){
	.log{
		height: 35%;
		width: 35%;
	}
	.play, .play-home{
		padding-right: 58px;
		margin-top: -40px;
		height: 35% !important;
		width: 35% !important;
	}
  .br {
  	padding-right: 20px;
    display: block !important;
    margin-top: -30px;
  }
}

/****************/
/*End of Navigation*/
/****************/


/***************/
/*Footer styling*/
/***************/
.footer{
	bottom: 0;
	background-color: #ff5252;
	color: white;
}
.social {
  margin-top: 24px;
  padding: 12px;
  font-size: 12px;
  color: white;
  border: 1px solid rgba(0, 0, 0, 0.2);
  border-radius: 100px;
  background-color: rgba(0, 0, 0, 0.1); 
}

.social:hover {
  background-color: white;
  color: #a33eff; 
}
.foot{
	color: white;
}
.foot:hover{
color: #a33eff;
}
.powered{
	height: 10%;
	width: 10%;
}
@media screen and (max-width: 800px){
	.powered{
		height: 20%;
		width: 20%;
	}
}
@media screen and (max-width: 400px){
	.powered{
		height: 30%;
		width: 30%;
	}
}
/****************/
/*End of Navigation*/
/****************/


/****************/
/*Home Page*/
/****************/
#home{
	background-image: url(../assets/bg.jpg);
	background-size: cover;
	background-repeat: no-repeat;
}
.btn{
	background-color:#1E90FF; 
	color:white;
}
.btn:hover{
	color:#1E90FF;
	background-color:white;
}
.up-move{
	padding-top: 9.5%;
}
.on-re, .on-de, .on-po, .off-re:hover, .off-de:hover, .off-po:hover{
	background-color: rgba(255,0,0,0.1);
}
.off-re, .off-de, .off-po{
	border-radius: 5px;
	padding: 10px;
}
.dots {
	display: none;
}
@media screen and (max-width: 700px){
	.dots{
		display: block;
		margin-top: 20px;
		margin-bottom: 20px;
	}
	.dots a{
		padding: 8px;
		font-size: 30px;
	}
	.re-off, .de-off, .po-off{
		color: #ff5252;
	}
	.re-on, .de-on, .po-on, .re-off:hover, .de-off:hover, .po-off:hover{
		color: #a33eff;
	}
	.deals, .points{
		display: none;
	}
}

/***************/
/*Contact styling*/
/***************/
#contact{
	background-image: url(../assets/contact.jpg);
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
	height: 90%;
}
@media screen and (max-width: 1000px){
	#contact{
		background-image: url(../assets/contact-mobile.png);
		background-size: cover;
		background-position: top !important;
		background-repeat: no-repeat;
		height: 50%;
	}
}

/**************/
/*About styling*/
/*************/
#about{
	background-image: url(../assets/about.jpg);
	background-size: cover;
	background-position: top;
	background-repeat: no-repeat;
	height: 90%;
}
@media screen and (max-width: 1000px){
	#about{
		background-image: url(../assets/about-mobile.png);
		background-size: cover;
		background-position: top !important;
		background-repeat: no-repeat;
		height: 50%;
	}
}

/**************/
/*Ombassador styling*/
/*************/
#ombassador{
	background-image: url(../assets/ombassador.png);
	background-size: cover;
	background-position: top;
	background-repeat: no-repeat;
	height: 90%;
}
.be-o{
	padding-top: 300px;
}
@media screen and (max-width: 500px){
	.be-o{
		padding-top: 200px;
	}
}



