*{
	font-family: 'Quicksand', sans-serif;
}
/*****************/
/*General styling*/
/*****************/
.left{
	float: left;
}
.right{
	float: right;
}
.cent{
	text-align: center;
}
.zero{
	display: none;
}
/***************/
/*Navigation styling*/
/***************/
.log{
	padding-left: 12px;
	height: 10%;
	width: 10%;
}
.play{
	padding-right: 12px;
	margin-top: -48px;
	height: 12%;
	width: 12%;
}
.nav{
	position: fixed;
	width: 100%;
	background-color: white !important;
	padding-top: 12px;
	padding-bottom: 12px;
}
.anchors{
	border-radius: 5px;
	color: #ff5252;
	font-weight: 600;
	padding-top: 12px;
	padding-bottom: 12px;
	padding-left: 8px;
	padding-right: 8px;
}
.anchors:hover{
	color: #a33eff;
	border-bottom: 2px solid;
}
.li{
	margin-left: -5px;
	margin-right: -5px;
	display: inline;
	padding: 10px;
	text-transform: uppercase;
}
/*Clear navigation*/
.nav-home{
	position: fixed;
	width: 100%;
	background-color: none !important;
	padding-top: 12px;
	padding-bottom: 12px;
}
.play-home{
	padding-right: 12px;
	margin-top: -48px;
	height: 12%;
	width: 12%;
}
.anchors-home{
	border-radius: 5px;
	color: white;
	font-weight: 600;
	padding-top: 12px;
	padding-bottom: 12px;
	padding-left: 8px;
	padding-right: 8px;
}
.anchors-home:hover{
	color: white;
	border-bottom: 2px solid;
}
/*end of clear navigation*/
.links{
	padding-right: 200px;
	margin-top: -35px;
}
@media screen and (max-width: 1000px){
	.log{
		padding-left: 12px;
		height: 15%;
		width: 15%;
	}
	.play{
		padding-right: 12px;
		margin-top: -48px;
		height: 20% !important;
		width: 20% !important;
	}
	.li{
	margin-left: -5px;
	margin-right: -5px;
	display: block;
	padding: 10px;
	text-transform: uppercase;
}
}

/****************/
/*End of Navigation*/
/****************/

/****************/
/*Home Page*/
/****************/
#home{
	background-image: url(../assets/bg.jpg);
	background-size: cover;
	background-repeat: no-repeat;
}
.up-move{
	padding-top: 9.5%;
}



